.App {

  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-icon {
  margin-top: 100px;
  cursor: pointer;
}

.search {
  height: 100px;
  width: 80%;
  border: 1px solid lightgray;
  border-radius: 9px;
  font-size: 81px;
  outline: none;
  color: dimgray;
  padding: 20px 100px;
}

.x {
  color: gray;
  text-align: right;
  cursor: pointer;

}

.x:hover {
  color: red;
}

.history {
  text-align: center;
  border-radius: 50px;
  background: ghostwhite;
  color: gray;
  display: inline;
  padding: 10px 21px;
}

.history-text {
  margin-right: 10px;
  color: black;
}

.history-icon:hover {
  color: red;
  cursor: pointer;
   font-weight: bold;
}